#primary {
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap:8px
  }

  div:nth-child(2) {
    margin-inline:auto ;
  }

  div:nth-child(3) {
    justify-self: end ;
  }
}

#secondary {
  justify-content: space-between;
  padding-block: 14px;

  a {
    font: var(--span-text);
    color: var(--text-color-secondary);
  }
}