#most-read {
  margin-block: 80px;
  padding-block: 12px 24px;

  border-top: 1px solid var(--stroke-color);

  .most-read-heading {
    color: var(--text-color-secondary);

    div:nth-child(2){
      display: flex;
      align-items: center;
      gap: 4px;
      justify-self: end;
    }
  }
}