.container {
  max-width: 1280px;
  margin: auto;
  padding-inline: 32px;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.divisor {
  border: 1px solid var(--stroke-color);
  border-inline: none;
}