.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 32px;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2{
  grid-template-columns: 1fr 1fr;
}

.gap-16{
  gap: 16px;
}

.gap-32{
  gap: 32px;
}

.divisor {
  border: 1px solid var(--stroke-color);
  border-inline: none;
}
.text-sm {
  font: var(--span-text)
}

.text-base {
  font: var(--paragraph-text)
}

.text-lg {
  font: var(--h3)
}

.text-xl {
  font: var(--h2)
}

.text-2xl {
  font: var(--h1)
}

.content-tag {
  font: 500 10px/1.2 var(--font-family);
  letter-spacing: 0.4px;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--brand-color-dark);
  box-shadow: 0px 4px 16px 0px rgba(2, 6, 23, 0.25);
}
